@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,300;1,700&display=swap");

/* global */

* {
  font-family: "Raleway", "calibri", "font family";
  box-sizing: border-box;
  color: black;
}

body {
  font-size: 15px;
  max-width: 1440px;
  margin: auto;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 23px;
  margin-bottom: 10px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 17px;
}

.followup {
  text-decoration: none;
}
/* PARTIE TOP // header*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 50px;
}

.navbar-item {
  padding: 0 45px;
  justify-items: center;
  text-decoration: none;
}
.logo {
  margin-right: auto;
  height: 70px;
}
.navbar-item:hover {
  border-top: 4px solid #0065fc;
  padding: 45px;
  color: #0065fc;
  justify-items: center;
  text-decoration: none;
}

/* PARTIE SEARCH & FILTRES*/

.formulaire {
  margin-bottom: 10px;
}

.recherche {
  display: flex;
  flex-direction: row;
}

.recherche i {
  object-fit: cover;
  padding: 11px 15px 11px 15px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

#marecherche {
  padding: 10px;
  text-align: center;
}

.bouton {
  border: 1px solid #0065fc;
  border-radius: 0 10px 10px 0;
  display: inline-block;
  font-weight: 600;
  padding: 10px 15px;
}

.texte_bouton {
  color: white;
}

#bouton i {
  display: none;
}

.couleur {
  background-color: #0065fc;
}

.info {
  display: flex;
  align-items: center;
}
.IconeInfo {
  display: flex;
  justify-content: center;
}

/* partie filtres*/
.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 100px;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  background-color: #ffff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 0px;
  transition-duration: 0.4s;
}
.Icone-fi {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #deebff;
  background-color: #deebff;
  color: #0065fc;
  font-size: 20px;
  padding: 10px;
}
.Icone-fi {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #deebff;
}
.IconeInfo {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  background-color: #fff;
  color: #0065fc;
  text-align: center;
}

/*Partie Hotels*/

.hébergements {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.mhotels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 69%;
  min-height: 650px;
  border-radius: 25px;
  padding: 2%;
  background-color: #f2f2f2;
  margin: 1% 1% 1% 0;
}
.mars-hotels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
}

/* infos cards hotels page accommodation */

.card-mhotels {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-width: 200px;
  max-height: 190px;
  background-color: #ffff;
  border: 4px solid #ffff;
  border-radius: 10px;
}
.card-mhotels img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: fit-content;
  max-width: 195px;
  height: 100px;
  object-fit: cover;
}
/* On mouse-over, add a deeper shadow */
.card-mhotels:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.bluestar {
  color: #0065fc;
}
.greystar {
  color: #d9d9d9;
}
.followup {
  margin-top: 30px;
}

/*partie aside - populaires*/

.pop-mars {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 675px;
  border-radius: 25px;
  padding: 2%;
  background-color: #f2f2f2;
  margin: 1% 0 1% 1%;
}
.pop-hotels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-card {
  min-width: 280px;
  height: 140px;
  background-color: #ffff;
  border: 5px solid #ffff;
  border-radius: 20px;
  margin-bottom: 25px;
}
.pop-card img {
  border-top-left-radius: 10px;
  width: 120px;
  height: 100px;
}
.pop-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.pop-container {
  display: flex;
  align-items: center;
  padding: 0px;
}

/*partie activités*/

.activites {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 550px;
}
.card-activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.cardbig {
  width: 23%;
  background-color: #ffff;
  box-shadow: 1px 1px 10px #dfdfdf;
  border-radius: 25px 25px 25px 25px;
}

.act-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: fit-content;
  max-width: 195px;
  height: 100px;
  padding: 5px;
}
/* On mouse-over, add a deeper shadow */
.act-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.act-container {
  padding: 2px 16px;
}
.cardmini {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*partie du footer */

.footer {
  background-color: #f2f2f2;
  display: flex;
  margin-top: 40px;
  padding: 45px;
}

.footer-item {
  width: 70%;
  display: flex;
  flex-direction: column;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
